<ion-header>
  <ion-toolbar>
    <ion-title>
      Examen  {{preguntas?.length}}({{errores}}) <ion-button size="small" (click)="corregir()" >Corregir</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide *ngFor="let pregunta of preguntas" 
    >
      <ion-list>
        <ion-radio-group [(ngModel)]="pregunta.solucion" 
        >
          <ion-item color="{{pregunta.color}}" [ngStyle]="{'background-color': pregunta.color}" text-wrap>
            <ion-label text-wrap>{{pregunta.numero}}) {{pregunta.enunciado}}</ion-label> 
          </ion-item>
          <ion-item *ngFor="let opcion of pregunta.opciones" text-wrap>
            <ion-label text-wrap><p> {{opcion.solucion}}) {{opcion.apartado}}</p> </ion-label>
            <ion-radio value="{{opcion.solucion}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-slide>
  </ion-slides>  
</ion-content>