<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/tests.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Examenes</ion-card-subtitle>
        <ion-card-title>Test de oposicion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Examenes para la oposiciones </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos</ion-label>
      </ion-list-header>
      <ion-item href="http://www.comunidad.madrid/servicios/salud/pruebas-selectivas-celador-2018">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Oposicion celadores</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
